.activePagination {
    background-color: #dbe4f1;
}

.bodyDark .activePagination {
    background-color: #7e7c7c !important;
}

.bodyDark li.page-item a {
    background-color: #484343;
    color: white;
}