<div class="table-responsive">
    <table class="table table-bordered table-sm">
        <thead>
            <th v-for="(title, ind) in titles">
                {{title}}
            </th>
        </thead>
        <tbody>
            <tr v-for=" (row, index) in data ">
                <td v-for="(col, ind) in row ">
                    {{col}}
                </td>
                <td v-for="btn in btns " style="text-align: center; ">
                    <a class="btn " :class="btn.class " @click="btnClick(index, btn.event) ">{{btn.title}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>