{{!< layouts/default}}

{{#contentFor 'pageStyles'}}
<style>
  .clicker {
    color: blue;
  };
</style>
{{/contentFor}}

<h1>{{title}}</h1>
<p class="clicker">Click me!</p>
<div id="app"></div> 

{{#contentFor 'pageScripts'}}
<script src="js/home.js"></script>
{{/contentFor}}