<div class="bootstrap-vertical-nav">

    <button id="commandsSlideBtn" class="btn btn-primary hidden-md-up" type="button" data-toggle="collapse" data-target="#commandsCollapse" aria-expanded="false" aria-controls="collapseExample">
                <span class="">Команды</span>
            </button>

    <div id="commandsCollapse" class="collapse">
        <ul class="nav flex-column" id="exCollapsingNavbar3">
            <li v-for="(name, index) in commandsList" class="nav-item">
                <a class="nav-link" @click="onCommandChange(index)">{{name}}</a>
            </li>
        </ul>
    </div>

</div>