.name-input {
    width: 250px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
}

.ul-block li {
    list-style-type: none;
    margin-bottom: 10px;
}

.btn-class {
    color: #fff !important;
    background-color: #236ebf;
    border-color: #005cbf;
}

.btn-class :hover {
    background-color: #1f5da0;
}

.bodyDark .btn-class {
    background-color: #6c757d;
    border-color: #6c757d;
}

.bodyDark .btn-class:hover {
    background-color: #575d63;
}