<div>
    <label>Почта</label>
    <input type="text" v-model="settingsInfo.email" placeholder="Введите электронную почту" class="form-control" /><br>
    <label>Новый пароль</label>
    <input type="password" v-model="settingsInfo.password1" placeholder="Введите новый пароль" class="form-control" /><br>
    <label>Подтверждение пароля</label>
    <input type="password" v-model="settingsInfo.password2" placeholder="Подтвердите пароль" class="form-control" /><br>
    <div v-show="errorCode != 0" class="alert alert-danger" role="alert">
        {{errorTextComp}}
    </div>
    <button @click="saveSettings" type="button" class="btn btn-primary btn-lg saveButton">Сохранить</button>
    <div class="clearfix"></div>
</div>